[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "libdaisy"]
	path = libdaisy
	url = https://github.com/electro-smith/libdaisy
[submodule "Terrarium"]
	path = Terrarium
	url = https://github.com/baylessj/Terrarium.git
